<div class="unit-card mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h1 class="mdl-card__title-text" data-bind="text: character.name"></h1>
    </div>
    <div class="mdl-card__media">
        <div class="unit-container">
            <div class="options">
                <div class="mdl-tabs mdl-js-tabs">
                    <div class="mdl-tabs__tab-bar">
                        <a href="#parents-tab1" class="mdl-tabs__tab is-active">Parents</a>
                        <a href="#classes-tab1" class="mdl-tabs__tab">Classes</a>
                        <a href="#skills-tab1" class="mdl-tabs__tab">Skills</a>
                    </div>
                    <div class="mdl-tabs__panel main-tab__panel is-active" id="parents-tab1">
                        <div class="panel-container">
                            <div class="female-parent-options">
                                <div class="parent-character">
                                    Avatar (F)
                                </div>
                            </div>
                            <div class="male-parent-options">
                                <div class="parent-character">
                                    Chrom
                                </div>
                                <div class="parent-character">
                                    Frederick
                                </div>
                                <div class="parent-character">
                                    Virion
                                </div>
                                <div class="parent-character">
                                    Stahl
                                </div>
                                <div class="parent-character">
                                    Vaike
                                </div>
                                <div class="parent-character">
                                    Kellam
                                </div>
                                <div class="parent-character">
                                    Donnel
                                </div>
                                <div class="parent-character">
                                    Lon'qu
                                </div>
                                <div class="parent-character">
                                    Ricken
                                </div>
                                <div class="parent-character">
                                    Gaius
                                </div>
                                <div class="parent-character">
                                    Gregor
                                </div>
                                <div class="parent-character">
                                    Libra
                                </div>
                                <div class="parent-character">
                                    Henry
                                </div>
                                <div class="parent-character">
                                    Basilio
                                </div>
                                <div class="parent-character">
                                    Gangrel
                                </div>
                                <div class="parent-character">
                                    Walhart
                                </div>
                                <div class="parent-character">
                                    Yen'fay
                                </div>
                                <div class="parent-character">
                                    Priam
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-tabs__panel main-tab__panel" id="classes-tab1">
                        <div class="panel-container">
                            <div class="base-classes">
                                <div class="class">
                                    Tactician
                                </div>
                                <div class="class">
                                    Cavalier
                                </div>
                                <div class="class">
                                    Knight
                                </div>
                                <div class="class">
                                    Myrmidon
                                </div>
                                <div class="class">
                                    Mercenary
                                </div>
                                <div class="class">
                                    Fighter
                                </div>
                                <div class="class">
                                    Barbarian
                                </div>
                                <div class="class">
                                    Archer
                                </div>
                                <div class="class">
                                    Thief
                                </div>
                                <div class="class">
                                    Wyvern Rider
                                </div>
                                <div class="class">
                                    Mage
                                </div>
                                <div class="class">
                                    Dark Mage
                                </div>
                                <div class="class">
                                    Priest/Cleric
                                </div>
                            </div>
                            <div class="promoted-classes">
                                <div class="class">
                                    Grandmaster
                                </div>
                                <div class="class">
                                    Paladin
                                </div>
                                <div class="class">
                                    Great Knight
                                </div>
                                <div class="class">
                                    General
                                </div>
                                <div class="class">
                                    Swordmaster
                                </div>
                                <div class="class">
                                    Hero
                                </div>
                                <div class="class">
                                    Warrior
                                </div>
                                <div class="class">
                                    Berserker
                                </div>
                                <div class="class">
                                    Sniper
                                </div>
                                <div class="class">
                                    Bow Knight
                                </div>
                                <div class="class">
                                    Assassin
                                </div>
                                <div class="class">
                                    Trickster
                                </div>
                                <div class="class">
                                    Wyvern Lord
                                </div>
                                <div class="class">
                                    Griffon Rider
                                </div>
                                <div class="class">
                                    Sage
                                </div>
                                <div class="class">
                                    Sorcerer
                                </div>
                                <div class="class">
                                    Dark Knight
                                </div>
                                <div class="class">
                                    War Monk/Cleric
                                </div>
                                <div class="class">
                                    Dread Fighter
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-tabs__panel main-tab__panel" id="skills-tab1">
                        <div class="panel-container panel-container-skills">
                            <div class="own-skills">
                                Own Skills
                            </div>
                            <div class="inherited-skills">
                                Inherited Skills
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="selected-class">
                    Sorcerer
                </div>
                <div class="stats">
                    <div class="stat">
                        <span class="stat-type">Str</span>
                        <span class="stat-value">43</span>
                        <span class="stat-bonus">+3</span>
                    </div>
                    <div class="stat">
                        <span class="stat-type">Mag</span>
                        <span class="stat-value">48</span>
                        <span class="stat-bonus">+1</span>
                    </div>
                    <div class="stat">
                        <span class="stat-type">Skl</span>
                        <span class="stat-value">44</span>
                        <span class="stat-bonus">+7</span>
                    </div>
                    <div class="stat">
                        <span class="stat-type">Spd</span>
                        <span class="stat-value">42</span>
                        <span class="stat-bonus">+5</span>
                    </div>
                    <div class="stat">
                        <span class="stat-type">Lck</span>
                        <span class="stat-value">45</span>
                        <span class="stat-bonus">+9</span>
                    </div>
                    <div class="stat">
                        <span class="stat-type">Def</span>
                        <span class="stat-value">47</span>
                        <span class="stat-bonus">+2</span>
                    </div>
                    <div class="stat">
                        <span class="stat-type">Res</span>
                        <span class="stat-value">49</span>
                        <span class="stat-bonus">+10</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-card__actions">
        <div class="unit-actions">
            <button title="Switch" class="switch mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--raised">
                <i class="material-icons">swap_horiz</i>
            </button>
            <button title="Separate" class="separate mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--raised">
                <i class="material-icons">clear</i>
            </button>
        </div>
    </div>
</div>
