<div class="stats">
    <div class="stat">
        <span class="stat-type">Str</span>
        <span class="stat-value">43</span>
        <span class="stat-bonus">+3</span>
    </div>
    <div class="stat">
        <span class="stat-type">Mag</span>
        <span class="stat-value">48</span>
        <span class="stat-bonus">+1</span>
    </div>
    <div class="stat">
        <span class="stat-type">Skl</span>
        <span class="stat-value">44</span>
        <span class="stat-bonus">+7</span>
    </div>
    <div class="stat">
        <span class="stat-type">Spd</span>
        <span class="stat-value">42</span>
        <span class="stat-bonus">+5</span>
    </div>
    <div class="stat">
        <span class="stat-type">Lck</span>
        <span class="stat-value">45</span>
        <span class="stat-bonus">+9</span>
    </div>
    <div class="stat">
        <span class="stat-type">Def</span>
        <span class="stat-value">47</span>
        <span class="stat-bonus">+2</span>
    </div>
    <div class="stat">
        <span class="stat-type">Res</span>
        <span class="stat-value">49</span>
        <span class="stat-bonus">+10</span>
    </div>
</div>
