<div class="unit-card mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h1 class="mdl-card__title-text" data-bind="text: character.name"></h1>
    </div>
    <div class="mdl-card__media">
        <div class="unit-container">
            <div class="options">
                <div class="mdl-tabs mdl-js-tabs">
                    <div class="mdl-tabs__tab-bar">
                        <a href="#" class="mdl-tabs__tab"
                           data-bind="visible: character.isAvatar, attr: { href: avatarTabHref }">
                            Asset/Flaw
                        </a>
                        <a href="#" class="mdl-tabs__tab"
                           data-bind="visible: character.isChild, attr: { href: parentsTabHref }">
                            Parents
                        </a>
                        <a href="#" class="mdl-tabs__tab is-active"
                           data-bind="attr: { href: classesTabHref }">
                            Classes
                        </a>
                        <a href="#" class="mdl-tabs__tab"
                           data-bind="attr: { href: skillsTabHref }">
                            Skills
                        </a>
                    </div>
                    <div class="mdl-tabs__panel main-tab__panel"
                         data-bind="attr: { id: avatarTabId }">
                        <!--ko if: character.isAvatar-->
                        <div class="panel-container" data-bind="delegatedHandler: 'click'">
                            <div class="avatar-assets">
                                <div>
                                    <strong>Asset</strong>
                                </div>
                                <!--ko foreach: assets-->
                                <div class="asset-flaw">
                                    <span data-click="selectAsset" data-bind="text: name, css: { 'selected': id() === $parent.character.selectedAssetId() }"></span>
                                </div>
                                <!--/ko-->
                            </div>
                            <div class="avatar-flaws">
                                <div>
                                    <strong>Flaw</strong>
                                </div>
                                <!--ko foreach: flaws-->
                                <div class="asset-flaw">
                                    <span data-click="selectFlaw" data-bind="text: name, css: { 'selected': id() === $parent.character.selectedFlawId() }"></span>
                                </div>
                                <!--/ko-->
                            </div>
                        </div>
                        <!--/ko-->
                    </div>
                    <div class="mdl-tabs__panel main-tab__panel"
                         data-bind="attr: { id: parentsTabId }, delegatedHandler: 'click'">
                        <!--ko if: character.isChild-->
                        <parent-panel params="parentId: character.parentId, 
                            parents: character.parents, 
                            characters: characters, 
                            selectedParent: character.selectedParentId">
                        </parent-panel>
                        <!--/ko-->
                    </div>
                    <div class="mdl-tabs__panel main-tab__panel is-active"
                         data-bind="attr: { id: classesTabId }">
                        <div class="panel-container" data-bind="delegatedHandler: 'click'">
                            <div class="base-classes" data-bind="foreach: character.baseClasses">
                                <class-nameplate params="classes: $parent.classes, id: $data, selected: $data === $parent.character.selectedClassId(), attr: { 'data-click': 'selectClass' }">
                                </class-nameplate>
                            </div>
                            <div class="promoted-classes" data-bind="foreach: character.promotedClasses">
                                <class-nameplate params="classes: $parent.classes, id: $data, selected: $data === $parent.character.selectedClassId(), attr: { 'data-click': 'selectClass' }">
                                </class-nameplate>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-tabs__panel main-tab__panel"
                         data-bind="attr: { id: skillsTabId }">
                        <div class="panel-container panel-container-skills">
                            <div class="own-skills" data-bind="foreach: character.skills">
                                <skill-nameplate params="skills: $parent.skills, id: $data">
                                </skill-nameplate>
                            </div>
                            <div class="inherited-skills" data-bind="visible: character.isChild">
                                <div>
                                    <strong>Unique Inherited Skills</strong>
                                </div>
                                <div data-bind="foreach: character.inheritedSkills">
                                    <skill-nameplate params="skills: $parent.skills, id: $data">
                                    </skill-nameplate>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="selected-class">
                    <!--ko ifnot: character.selectedClass-->
                    None
                    <!--/ko-->
                    <!--ko if: character.selectedClass-->
                    <class-nameplate params="classes: classes, id: character.selectedClass().id">
                    </class-nameplate>
                    <!--/ko-->
                </div>
                <div class="stats">
                    <div class="stat">
                        <span class="stat-type">Str</span>
                        <span class="stat-value" data-bind="text: character.str"></span>
                        <span class="stat-bonus">+0</span>
                    </div>
                    <div class="stat">
                        <span class="stat-type">Mag</span>
                        <span class="stat-value" data-bind="text: character.mag"></span>
                        <span class="stat-bonus">+1</span>
                    </div>
                    <div class="stat">
                        <span class="stat-type">Skl</span>
                        <span class="stat-value" data-bind="text: character.skl"></span>
                        <span class="stat-bonus">+7</span>
                    </div>
                    <div class="stat">
                        <span class="stat-type">Spd</span>
                        <span class="stat-value" data-bind="text: character.spd"></span>
                        <span class="stat-bonus">+5</span>
                    </div>
                    <div class="stat">
                        <span class="stat-type">Lck</span>
                        <span class="stat-value" data-bind="text: character.lck"></span>
                        <span class="stat-bonus">+9</span>
                    </div>
                    <div class="stat">
                        <span class="stat-type">Def</span>
                        <span class="stat-value" data-bind="text: character.def"></span>
                        <span class="stat-bonus">+2</span>
                    </div>
                    <div class="stat">
                        <span class="stat-type">Res</span>
                        <span class="stat-value" data-bind="text: character.res"></span>
                        <span class="stat-bonus">+10</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-card__actions">
        <div class="unit-actions">
            <button title="Switch" class="switch mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--raised">
                <i class="material-icons">autorenew</i>
            </button>
            <button title="Separate" class="separate mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--raised">
                <i class="material-icons">swap_horiz</i>
            </button>
            <button title="Remove" class="remove mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--raised"
                    data-click="removeCharacter">
                <i class="material-icons">clear</i>
            </button>
        </div>
    </div>
</div>
